@keyframes bg-in { 0% { transform: scale(1.1); }
  to { transform: scale(1); } }
@keyframes sun-in { 0% { transform: translateY(-20px); }
  to { transform: translateY(0); } }
@keyframes cloud-l-in { 0% { transform: scale(1.1) translate(-40px, -20px); opacity: 0.6; }
  60% { transform: scale(1) translate(-20px, -5px); opacity: 1; }
  to { transform: scale(1) translate(0); opacity: 1; } }
@keyframes cloud-r-in { 0% { transform: scale(1.1) translate(40px, -20px); opacity: 0.6; }
  60% { transform: scale(1) translate(20px, -5px); opacity: 1; }
  to { transform: scale(1) translate(0); opacity: 1; } }
@keyframes man-in { 0% { transform: translateY(40px); }
  to { transform: translateY(0); } }
@keyframes little-star { 0% { opacity: 0.1; }
  20% { opacity: 1; }
  40% { opacity: 0.3; }
  60% { opacity: 1; }
  80% { opacity: 0.4; }
  to { opacity: 0.1; } }
#app { background: #131a3f; user-select: none; overflow: hidden; }

.anime-bg { display: block; position: fixed; top: 50%; left: 50%; margin: -540px -960px; width: 1920px; height: 1080px; overflow: hidden; z-index: 1; pointer-events: none; }
.anime-bg > div { pointer-events: none; }
.anime-bg.no-anime > div { animation: none; }
.anime-bg .body-bg { background-image: url(body_bg.png); }
.anime-bg .body-bg, .anime-bg .kv-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: 50%; background-repeat: no-repeat; }
.anime-bg .kv-bg { background-image: url(kv_bg.png); transform-origin: center; animation: bg-in 1s ease-out 0.3s backwards; }
.anime-bg .kv-sun { position: absolute; top: 0; left: 50%; margin-left: -375px; width: 750px; height: 672px; background-image: url(kv_sun.png); background-size: contain; transform-origin: center; animation: sun-in 1s ease-out .3s backwards; background-position: 50%; background-repeat: no-repeat; }
.anime-bg .star-layer { position: absolute; top: 0; left: 0; }
.anime-bg .star-layer, .anime-bg .star-layer canvas { width: 100%; height: 100%; }
.anime-bg .kv-cloud-l { left: 0; width: 1608px; height: 843px; background-image: url(kv_cloud_l.png); transform-origin: 1000px 200px; animation: cloud-l-in 1.5s linear 0.3s backwards; }
.anime-bg .kv-cloud-l, .anime-bg .kv-cloud-r { position: absolute; bottom: 0; background-size: cover; background-position: 50%; background-repeat: no-repeat; }
.anime-bg .kv-cloud-r { right: 0; width: 1684px; height: 899px; background-image: url(kv_cloud_r.png); transform-origin: 684px 256px; animation: cloud-r-in 1.5s linear 0.3s backwards; }
.anime-bg .kv-man { bottom: 0; right: 0; width: 1577px; height: 561px; background-image: url(kv_man.png); transform-origin: 617px 280px; animation: man-in 1.5s ease-out 0.3s backwards; }
.anime-bg .kv-bird, .anime-bg .kv-man { position: absolute; background-size: cover; }
.anime-bg .kv-bird { top: 260px; left: 50%; margin-left: -896px; width: 1792px; height: 625px; background-image: url(kv_bird.png); transform-origin: center; animation: bg-in 1s ease-out .3s backwards; background-position: 50%; background-repeat: no-repeat; }
.anime-bg .little-star { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.anime-bg .little-star .star { position: absolute; width: 6px; height: 6px; border-radius: 3px; background-color: rgba(255, 255, 255, 0.8); box-shadow: 0 0 3px 3px rgba(78, 167, 243, 0.4); animation: little-star 3s ease infinite backwards; }
.anime-bg .little-star .star.scale-8 { transform: scale(0.8); }
.anime-bg .little-star .star.scale-6 { transform: scale(0.6); }
.anime-bg .little-star .star.scale-4 { transform: scale(0.4); }
.anime-bg .little-star .star.delay-1 { animation-delay: 1s; }
.anime-bg .shadow { position: absolute; bottom: 0; left: 0; width: 100%; height: 655px; background: linear-gradient(0deg, #0f1d4e, rgba(15, 39, 103, 0) 80%); }

.cross-year-2020 { position: relative; z-index: 2; }
.cross-year-2020 .inner-content-box { text-align: center; color: #fff; }
.cross-year-2020 .inner-content-box > div { position: relative; width: 1220px; margin: 0 auto; height: 1000px; }
.cross-year-2020 .star-item-wrapper { position: absolute; width: 50px; height: 50px; }
.cross-year-2020 .side-nav { z-index: 999; position: fixed; right: 0; top: 50%; width: 254px; height: 100%; transform: translateY(-50%); font-size: 28px; font-weight: 400; opacity: 1; transition: all .3s; background: linear-gradient(-90deg, #3f2ca0, rgba(26, 35, 80, 0)); }
.cross-year-2020 .side-nav.unvisible { opacity: 0; display: none; }
.cross-year-2020 .side-nav .full-sidebar { display: flex; height: 100%; width: 176px; float: right; align-items: center; justify-content: center; flex-direction: column; }
.cross-year-2020 .side-nav .full-sidebar .toggle-wrapper { transition: all .5s; transform: translateX(0); opacity: 1; position: relative; width: 100%; }
.cross-year-2020 .side-nav .full-sidebar .toggle-wrapper.hided { transform: translateX(110px); opacity: .4; }
.cross-year-2020 .side-nav .full-sidebar .toggle-wrapper.hided:hover { transform: translateX(90px); opacity: .8; }
.cross-year-2020 .side-nav .full-sidebar .toggle-wrapper .side-nav-item { cursor: pointer; width: 134px; position: relative; margin: 0 auto 16px; display: block; }
.cross-year-2020 .side-nav .toggle-icon { position: absolute; left: 0; top: 50%; transform: translateY(15px); width: 9px; height: 17px; cursor: pointer; padding: 10px; }
.cross-year-2020 .side-nav .toggle-icon.expanded { transform: translateY(15px) rotate(180deg); }
.cross-year-2020 .side-nav a { color: #bdcef5; text-decoration: none; }
.cross-year-2020 .side-nav a > div { width: 134px; height: 38px; transition: all .3s ease; background-size: cover; }
.cross-year-2020 .side-nav .bg-top { width: 82px; height: 62px; margin: 0 auto; background-image: url(ntop.png); }
.cross-year-2020 .side-nav .bg-top:hover, .cross-year-2020 .side-nav .bg-top.active { background-image: url(ntop_h.png); }
.cross-year-2020 .side-nav .bg-preview { background-image: url(npreview.png); }
.cross-year-2020 .side-nav .bg-preview:hover, .cross-year-2020 .side-nav .bg-preview.active { background-image: url(npreview_h.png); }
.cross-year-2020 .side-nav .bg-guest-star { background-image: url(nguest.png); }
.cross-year-2020 .side-nav .bg-guest-star:hover, .cross-year-2020 .side-nav .bg-guest-star.active { background-image: url(nguest_h.png); }
.cross-year-2020 .side-nav .bg-star { background-image: url(nstar.png); }
.cross-year-2020 .side-nav .bg-star:hover, .cross-year-2020 .side-nav .bg-star.active { background-image: url(nstar_h.png); }
.cross-year-2020 .side-nav .bg-recreation { margin-bottom: 21px; background-image: url(nrecreation.png); }
.cross-year-2020 .side-nav .bg-recreation:hover, .cross-year-2020 .side-nav .bg-recreation.active { background-image: url(nrecreation_h.png); }
.cross-year-2020 .side-nav .bg-dynamic { margin-bottom: 21px; background-image: url(ndynamic.png); }
.cross-year-2020 .side-nav .bg-dynamic:hover, .cross-year-2020 .side-nav .bg-dynamic.active { background-image: url(ndynamic_h.png); }

/*# sourceMappingURL=cross-year.css.map */
